!!! 
html 
  head
    mixin stylesheet(feature, template, css)
      style(feature=feature, template=template)
       !{css}
       
    if locals.styles
      for style in styles
        mixin stylesheet(style.feature, style.template, style.css)
    else
      if locals.style
        mixin stylesheet(style.feature, style.template, style.css)
        
    script(src="js/common/3rdParty/jquery/jquery.js") 
  body
    !{html}
    script(type="text/javascript") 
      if('#{templateName}' !== 'layout') {
        (function(){
          var template = $('body').children().eq(0)
          templates['#{feature}']['#{templateName}'].activate(template)
        })()
      }